@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Укажите путь к вашей картинке */
  background-image: url('./assets/BgHomeFullHD.png');

  @media screen and (max-width: 1540px) {
    background-image: url('./assets/BgHomeLaptop.png');
  }
  background-size: contain; /* Показывает всю картинку */
  background-repeat: no-repeat; /* Убирает повторение */
  /*background-position: center; !* Центрирует изображение *!*/
}

